<h1 class="form-heading">Register New Patient</h1>

<%= form_with(model: @patient, local: true) do |form| %>
  <% if @patient.errors.any? %>
    <div class="error-box">
      <h3><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h3>
      <ul>
        <% @patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-box">
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label :age %><br>
      <%= form.number_field :age %>
    </p>

    <p>
      <%= form.label :disease %><br>
      <%= form.text_field :disease %>
    </p>

    <p>
      <%= form.label :address %><br>
      <%= form.text_field :address %>
    </p>

    <p>
      <%= form.label :registered_on %><br>
      <%= form.date_field :registered_on %>
    </p>

    <p>
      <%= form.submit "Register Patient", class: "btn btn-primary" %>
    </p>
  </div>
<% end %>

<p style="text-align: center;">
  <%= link_to "â† Back to Patients", patients_path, class: "btn btn-secondary" %>
</p>
